@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

p {
    color: rgb(172, 169, 169);
}

.nav-bar {
    height: 80px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

ul .item-nav {
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
}

ul .item-nav li {
    list-style-type: none;
    color: rgb(172, 169, 169);
}

span{
    margin-right: 2px;
    color: rgb(172, 169, 169);
}

#banner {
    width: 100%;
    height: calc(100vh - 80px);
}

.container h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 100px;
    color: rgb(172, 169, 169);
}

.content {
    display: flex;
    
}

.components{
    margin: 100px 30px 30px 30px;
    border: 2px solid rgb(143, 141, 141);
    border-radius: 30px;
}
.content div .image {
    width: 700px;
    padding: 20px;
    border-radius: 50px;
}

.title{
   text-align: center;
   margin-top: 140px;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
}

.description {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.content .curso {
  padding-left: 30px;
  align-items: center;
}

.content .cursos {
    padding-right: 30px;
    align-items: center;
}