<div class="row">
    <div class="form-group">
      <label class="titulo-curso">Selecione o curso</label>
      <select name="cursos" class="form-control">
        <option value="">Selecione</option>
        <option value="">Administração</option>
        <option value="">Biomedicina</option>
        <option value="">Ciências Biológicas</option>
        <option value="">Comércio Exterior</option>
        <option value="">Cosmética e Imagem Pessoal</option>
        <option value="">Design de Produto</option>
        <option value="">Eventos</option>
        <option value="">Farmácia</option>
        <option value="">Pedagogia</option>
        <option value="">Medicina Veterinária</option>
        <option value="">Turismo</option>
        <option value="">Design de Produto</option>
        <option value="">Fotografía</option>
        <option value="">Análise e desenvolvimento de sistemas</option>
        <option value="">Direito</option>
        ...
      </select>
    </div>
</div>
