<div class="form-group">
  <label class="titulo-professor mt-4">Selecione o professor:</label>
  <select name="cursos" class="form-control">
    <option value="">Selecione</option>
    <option value="">Yuri Ramalho</option>
    <option value="">César Silva</option>
    <option value="">Giovane Santos</option>
    <option value="">Martha Lúcia</option>
    <option value="">Hamilton Cruz</option>
    <option value="">Machion Rochele</option>
    <option value="">Nícolas Trindade</option>
    <option value="">Augustinho Carrara</option>
    <option value="">Nineu Souza</option>
    <option value="">Tuco Sergio Nativo</option>
    <option value="">Bebel Roliscleuza</option>
    ...
  </select>
</div>
